---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Joshi Jam',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Us</h1>
			<p>
				Joshi Jam is a team of passionate fans based in Southern California dedicated to bringing the fun of community back into fandom events. We welcome all joshi (and danshi) to come embrace their interests, no matter how niche.
        <br><br>
        Fujoshi? Himejoshi? Yumejoshi? No problem!
        <br><br>
        Joshi Jam plans our own events and can also help bring your specialty events to life. Check out our <a href="/events">upcoming jams</a> and join in!
        <br><br>
        Want to collaborate? Don’t be shy! You can reach us by email, or any of our social media <a href="/contact">here</a>.
        <br><br><br>
        ___
        <br>
        <i>Joshi</i> (女子) - Japanese for young woman
        <br>
        <i>Danshi</i> (男子) - Japanese for young man
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/about/about.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    
  </TextSection>
</Layout>
