---
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { Container, ImageCard, Button, ThreeColumnTextSection } from '@components/odyssey-theme';
import CtaCardSection from '../components/sections/CtaCardSection.astro';
---


<Layout>
	<HomeHeroSection />

  <section class="about__section">
    <h2>What We Do</h2>
    <ThreeColumnTextSection>
      <div slot="column-1-body">
        <h3>Graphic Design</h3>
        <p>
          Design services available to create your next logo or brand kit. Make your event stand out with something fresh!
        </p>
      </div>
      <div slot="column-2-body">
        <h3>Event Coordination</h3>
        <p>
         Organization and logistics planning for running events big or small, including staffing, tabling, etc. Leave it to us!
        </p>
      </div>
      <div slot="column-3-body">
        <h3>Build Outs</h3>
        <p>
          Construction of booths for events, conventions, etc. Connecting you with services to make your presence known.
        </p>
      </div>
    </ThreeColumnTextSection>
  </section>

  <Container>
		<section class="feature-card__section">
			<h2>Our Jams</h2>
			<div class="feature-card__grid">
				<ImageCard href="/events" title="Birthday Maid Cafe" imgSrc="/assets/images/events/birthday-maid-cafe/featured">
				</ImageCard>
			</div>
		</section>
	</Container>

	<CtaCardSection>
		<h2>Want Us to Organize Your Next Event?</h2>
		<p>Contact us today and let’s make something happen!</p>
		<Button href="/contact">Get in Touch</Button>
	</CtaCardSection>
</Layout>

<style>
  .about__section {
		margin: var(--section-margin) auto;
		text-align: center;
    background-color: var(--theme-surface-1);
    padding-top: 3rem;
    color: var(--theme-on-surface-1);
	}
	.feature-card__section {
		margin: var(--section-margin) auto;
		text-align: center;
    padding: 3rem;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
		margin-top: 2rem;
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
