---
import BaseHeader from '@components/BaseHeader.astro';
import type { Props as BaseHeadProps } from '@components/BaseHeader.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHeader {...seo} />
	</head>
	<body>
    <slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
