---
import { Button, FormInput, FormTextarea } from '@components/odyssey-theme';

---

<form name="Contact Form" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Name" name="Name" placeholder="Roy Mustang" />
  <FormInput type="email" label="Email" name="Email" placeholder="flame@alchemist.com" />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>